@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "_fonts";
//@import "_libs";
@import "_media";
@import "_nullstyle";
@import "_vars";

// @import "../css/_style_header";
// @import "../css/_style_footer";

/*-------- Page Index Start -------*/
/*-------- All Start -------*/
body {
  background-color: #000000;
}
* {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
}

::selection {
  color: #ffffff;
  background-color: #000;
}

.__container {
  max-width: 1440px;
  margin: 0 auto;
  @media (max-width: 1199px) {
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #1f5e37;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.25)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

/*-------- All End -------*/

.main {
  background-color: #e5e5e5;
  height: 100vh;
}

.main_bg {
  width: 100%;
  background-image: url(../../img/index/main-bg.png);
  height: 100vh;
}

@import "_vars";
@import "header/_style_header";
